* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1em;
}

/* Form elements */

button {
    padding: 0.4em;
    border: none;
    background-color: #eee;
    color: black;
    cursor: pointer;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}
button:hover {
    background-color: turquoise;
}

input[type=number] {
    width: 6em;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}

select {
    min-width: 7em;
    color: black;
    font-size: initial;
    font-family: Arial, Helvetica, sans-serif;
}

/* Layout */

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 50em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.column-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.column {
    min-width: 50%;
    max-width: 25em;
    flex-grow: 1;
    padding: 1em;
}


.names-panel, .saved-names-panel {
    margin-top: 1em;
}

.saved-names-list {
    max-height: 12em;
    border: solid 1px #ccc;
    overflow-y: auto;
    margin-bottom: 0.4em;
}

.generated-name-entry {
    padding: 0.2em;
}
.generated-name {
    padding: 0.2em;
    cursor: pointer;
}

.generated-name:hover {
    background-color: turquoise;
}
.generated-name:hover:after {
    content: " +";
    color: white;
    font-weight: bold;
}

.saved-name {
    padding: 0.2em;
}

.transform-selector {
    margin-top: 0.4em;
}

/* Widgets */

.generate-button {
    flex-shrink: 0;
    padding: 0.8em;
}

.amount-selector, .language-selector, .generate-button {
    margin-right: 0.4em;
}

.transform-entry {
    padding: 0.2em 0;
}

.forget-name-button {
    margin: 0.2em;
    padding: 0.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.forget-name-button:hover {
    background-color: salmon;
}
