* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding-inline: 1rem;
}

h1 {
    font-family: "Vollkorn", Georgia, serif;
    font-weight: normal;
    text-align: center;
}

/* Form elements */

button, input, select, textarea {
    color: black;
    font-size: initial;
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

optgroup, option {
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

button {
    padding: 0.4em;
    border: none;
    background-color: #eee;
    cursor: pointer;
}
button:hover, button:active {
    background-color: turquoise;
}

input[type=number] {
    width: 6em;
}

select {
    min-width: 7em;
}

textarea {
    border: solid 1px #ccc;
    padding: 0.4em;
}

/* Layout */

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 50rem;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.column-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    gap: 1rem;
}

.column {
    width: 24.5rem;
    flex-grow: 1;
}

.column > * + * {
    margin-top: 0.4rem;
}

.saved-names-list {
    max-height: 12em;
    border: solid 1px #ccc;
    overflow-y: auto;
    margin-bottom: 0.4em;
}

.generated-name-entry {
    margin-block: 0.4em;
}
.generated-name {
    padding: 0.2em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;
}

.generated-name:hover {
    background-color: turquoise;
}
.generated-name:after {
    content: "\00a0+";
    color: transparent;
    font-weight: bold;
}
.generated-name:hover:after,
.generated-name:active:after {
    color: white;
}

.saved-name-entry {
    margin: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.saved-name {
    margin-top: 0.2em;
}

.language-settings {
    display: flex;
    flex-flow: column;
    align-items: flex-start;
}

.language-settings > * + * {
    margin-top: 0.4rem;
}

/* Widgets */

.generate-button, .widget-button {
    flex-shrink: 0;
    margin-right: 0.4em;
    padding: 0.8em;
}

.transform-entry {
    margin-block: 0.4em;
}

.examples-area {
    display: block;
    width: 100%;
    height: 10em;
    max-width: 100%;
    min-width: 100%;
    min-height: 3em;
}

.forget-name-button {
    margin-right: 0.2em;
    padding: 0.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.forget-name-button:hover,
.forget-name-button:active {
    background-color: salmon;
}
