* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
    padding: 1em;
}

h1 {
    font-family: "Vollkorn", Georgia, serif;
    font-weight: normal;
}

/* Form elements */

button, input, select {
    color: black;
    font-size: initial;
    font-family: "Lato", Calibri, Candara, Segoe, Segoe UI, Optima, Arial, sans-serif;
}

button {
    padding: 0.4em;
    border: none;
    background-color: #eee;
    cursor: pointer;
}
button:hover {
    background-color: turquoise;
}

input[type=number] {
    width: 6em;
}

select {
    min-width: 7em;
}

/* Layout */

.container {
    margin: 0 auto;
    width: 100%;
    height: 100%;
    max-width: 50em;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

.column-container {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}

.column {
    min-width: 50%;
    max-width: 25em;
    flex-grow: 1;
    padding: 1em;
}


.names-panel, .saved-names-panel {
    margin-top: 1em;
}

.saved-names-list {
    max-height: 12em;
    border: solid 1px #ccc;
    overflow-y: auto;
    margin-bottom: 0.4em;
}

.generated-name-entry {
    padding: 0.2em;
}
.generated-name {
    padding: 0.2em;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    cursor: pointer;
}

.generated-name:hover {
    background-color: turquoise;
}
.generated-name:hover:after {
    content: " +";
    color: white;
    font-weight: bold;
}

.saved-name-entry {
    margin: 0.4em;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
}
.saved-name {
    margin-top: 0.2em;
}

.transform-selector {
    margin-top: 0.4em;
}

/* Widgets */

.generate-button, .widget-button {
    flex-shrink: 0;
    margin-right: 0.4em;
    padding: 0.8em;
}

.amount-selector, .language-selector {
    margin-right: 0.4em;
}

.transform-entry {
    padding: 0.2em 0;
}

.forget-name-button {
    margin-right: 0.2em;
    padding: 0.2em;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.forget-name-button:hover {
    background-color: salmon;
}
